/* tr{
    background-color: #212529;
 color:white;
}
td button{
         color: white;
} */
 #logout{
       cursor: pointer;
     display:none;
     /* padding-right: 0.5rem;
     padding-left: 0.5rem;
     color: rgba(255,255,255,.55);
     text-decoration: none;
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
     padding-top: 7px; */
} 
#logout:hover{

       color:#c2bebf;
}
#editi{
       margin-right:4px;
}
.next.disable,
.previous.disable{
cursor:not-allowed;
opacity: .5;
}
.pagination #ul1 li.active{
background-color:#0932c7;
}
.console1 button.blue{
background-color: blue;
}
.console1 button{
margin: 2px;;
}
ul{
list-style:none;
}
.console1 button.hidden1{
display:none;
}
.flexuse{
display:flex;
}
.heading {
margin-top: 7px;;
}
.d-flex{
justify-content: space-between;
}
.fa{
display: block;
cursor: pointer;
}
.upper::first-letter {
text-transform: capitalize;
}
.dis{
       display: none;
}
.opacity1{ 
       opacity: 0;
 }